.page {
  width: 100%;
  height: 100%;
  display: flex;
}

.page p {
  margin: 0;
}
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 200px;
  padding: 20px 5px;
  gap: 20px;
  background: transparent;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2) 0%, rgba(256, 256, 256, 0.2) 150%);
  border-right: 2px solid #9F6DEB;
}

.navbar a {
  text-decoration: none;
}

.topSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.profileImage {
  height: 150px;
  width: auto;
  border-radius: 50%;
}

.profileImage img {
  height: 150px;
  width: auto;
  border-radius: 50%;
}

.title {
  font-size: 2.3em;
  font-weight: 500;
  color: #F06292;
}

.title p {
  line-height: 1.2em;
}

.optionsSection {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.optionsSection a {
  height: 35px;
  min-height: 35px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.optionsSectionDisabled {
  display: none;
  flex-grow: 1;
}

.navOption {
  color: #D9D9D9;
  font-weight: 400;
}

.navOptionActive {
  color: #9F6DEB;
  font-weight: 600;
}

.verticalBar {
  position: absolute;
  left: 10px;
  width: 4px;
  background-color: #9F6DEB;
  border-radius: 0 4px 4px 0;
  transition: top 0.25s ease, height 0.25s ease;
}

.loginSection {
  display: flex;
  width: 100%;
  justify-content: center;
  color: #9F6DEB;
}

.loginSection a {
  font-size: 1.5em;
  font-weight: 500;
}

.loginSection p {
  font-size: 1.5em;
  font-weight: 500;
  cursor: pointer;
}

.hero {
  flex-grow: 1;
  padding: 35px 20px;
  display: flex;
  justify-content: center;
}