.projectSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  overflow-x: auto;
}

.projectSection p {
  margin: 0;
}

.projectSectionTitle {
  font-size: 1.6em;
  font-family: var(--main-font);
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 10px;
}

.projectSectionHero {
  display: flex;
  gap: 40px;
  overflow-x: auto;
}