.footer {
  display: flex;
  width: 100%;
  height: 50px;
  background: #242529;
  position: fixed;
  bottom: 0;
  padding: 5px 25px;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  margin: 0;
  font-size: 1.1em;
}

.footer a {
  text-decoration: none;
}

.leftSection {
  color: #a370f0;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 15px;
}

.heading {
  color: #a370f0;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px
}

.icons a {
  height: 25px;
}
.icons img {
  height: 25px;
  width: auto;
}