:root {
  --main-font: "Poppins";
  --secondary-font: "Nunito", "Cabin";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font), system-ui, sans-serif;
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 700px;
  min-height: 430px;
  background: rgba(0, 206, 209, 1);
  background: linear-gradient(135deg,rgba(240, 98, 146, 1) 0%, rgba(127, 0, 255, 1) 35%, rgba(0, 206, 209, 1) 100%);
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(38, 36, 66, 0.5);
}