.page {
  height: 100%;
  width: 100%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.heading {
  font-size: 3em;
  font-weight: 800;
  color: #F06292;
}

.text {
  font-size: 1.5em;
  font-weight: 500;
  color: #F06292;
}